<div class="tw-container">
    <mat-table [dataSource]="dataSource" matSort  (matSortChange)="sortData($event)" class="mat-table">
      
  
      <!-- Policy ID Column -->
      <!-- <ng-container matColumnDef="policyId">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Policy ID </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.policyId }} </mat-cell>
      </ng-container>
   -->
      <!-- Date of Purchase Column -->
      <ng-container  matColumnDef="dateOfPurchase">
        <mat-header-cell class="dateOfPurchase" *matHeaderCellDef mat-sort-header> Date of Purchase </mat-header-cell>
        <mat-cell class="dateOfPurchase" *matCellDef="let row"> {{ row.dateOfPurchase }} </mat-cell>
      </ng-container>
  
      <!-- Customer ID Column -->
      <!-- <ng-container matColumnDef="customerId">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Customer ID </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.customerId }} </mat-cell>
      </ng-container> -->
  
      <!-- Fuel Column -->
      <ng-container matColumnDef="fuel">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Fuel </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.fuel }} </mat-cell>
      </ng-container>
  
      <!-- Vehicle Segment Column -->
      <ng-container matColumnDef="vehicleSegment">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Vehicle Segment </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.vehicleSegment }} </mat-cell>
      </ng-container>
  
      <!-- Premium Column -->
      <ng-container matColumnDef="premium">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Premium </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.premium }} </mat-cell>
      </ng-container>

      <!-- Bodily Injury Liability Column -->
    <ng-container matColumnDef="bodilyInjuryLiability"  >
      <mat-header-cell matTooltip="Bodily Injury Liability"  *matHeaderCellDef mat-sort-header> B.I.L </mat-header-cell>
      <mat-cell *matCellDef="let row"> <mat-icon> {{ row.bodilyInjuryLiability  | valueToIcon }} </mat-icon></mat-cell>
    </ng-container>

    <!-- Personal Injury Protection Column -->
    <ng-container matColumnDef="personalInjuryProtection">
      <mat-header-cell matTooltip="Personal Injury Protection"  *matHeaderCellDef mat-sort-header> P.I.P </mat-header-cell>
      <mat-cell *matCellDef="let row"> <mat-icon> {{ row.personalInjuryProtection  | valueToIcon }} </mat-icon></mat-cell>
    </ng-container>

    <!-- Property Damage Liability Column -->
    <ng-container matColumnDef="propertyDamageLiability">
      <mat-header-cell matTooltip="Property Damage Liability" *matHeaderCellDef mat-sort-header> P.D.L </mat-header-cell>
      <mat-cell *matCellDef="let row"><mat-icon>  {{ row.propertyDamageLiability  | valueToIcon }} </mat-icon></mat-cell>
    </ng-container>

    <!-- Collision Column -->
    <ng-container matColumnDef="collision">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Collision </mat-header-cell>
      <mat-cell *matCellDef="let row"> <mat-icon> {{ row.collision  | valueToIcon }}</mat-icon> </mat-cell>
    </ng-container>

    <!-- Comprehensive Column -->
    <ng-container matColumnDef="comprehensive">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Comprehensive </mat-header-cell>
      <mat-cell  *matCellDef="let row"><mat-icon>  {{ row.comprehensive  | valueToIcon }} </mat-icon></mat-cell>
    </ng-container>

    <!-- Customer Gender Column -->
    <ng-container matColumnDef="customerGender">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Customer Gender </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.customerGender }} </mat-cell>
    </ng-container>

    <!-- Customer Income Group Column -->
    <ng-container matColumnDef="customerIncomeGroup">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Customer Income Group </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.customerIncomeGroup }} </mat-cell>
    </ng-container>

    <!-- Customer Region Column -->
    <ng-container matColumnDef="customerRegion">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Customer Region </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.customerRegion }} </mat-cell>
    </ng-container>

    <!-- Customer Marital Status Column -->
    <ng-container matColumnDef="customerMaritalStatus">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Customer Marital Status </mat-header-cell>
      <mat-cell *matCellDef="let row"> <mat-icon> {{ row.customerMaritalStatus | valueToIcon}} </mat-icon></mat-cell>
    </ng-container>
  
  
    <!-- Action Column -->
    <ng-container matColumnDef="edit" >
      <mat-header-cell *matHeaderCellDef mat-sort-header > Edit </mat-header-cell>
      <mat-cell *matCellDef="let row"> 
        <button mat-icon-button matTooltip="Click to Edit" class="iconbutton"
          color="primary" (click)="edit(row)">
          <mat-icon class="icon-edit-color">edit</mat-icon>
        </button> </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete" class="tw-max-w-fit">
      <mat-header-cell *matHeaderCellDef mat-sort-header > Delete </mat-header-cell>
      <mat-cell *matCellDef="let row"   > 
        <button mat-icon-button matTooltip="Click to Delete" 
          (click)="delete(row)" color="warn" >
          <mat-icon class="icon-delete-color">delete</mat-icon>
        </button> 
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]="10" [length]="totalElements" (page)="nextPage($event)"  [showFirstLastButtons]="true"></mat-paginator>
  
  
</div>
  