.mat-table *{
    min-width: 100px;
}



    
::ng-deep .alert-fail > * { 
  color: black!important;
  background-color: rgb(241, 193, 193)!important;

}

::ng-deep .alert-success > *{ 
  color: black!important;
  background-color: rgb(201, 241, 193)!important;

}

::ng-deep .sn-title{
  font-size: medium!important;
 }